<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body style="background-color:lightblue">
<h1>Welcome Employee</h1>
<div>
    <button onclick="document.getElementById('id01').style.display='block'" class="button big-btn" routerLink="/leave" style="width:20%; font-size :
20px;"><strong>Apply Leave</strong></button>
    <br>
    <br>
    <button onclick="document.getElementById('id01').style.display='block'" class="button big-btn" routerLink="/empleavereport" style="width:20%; font-size :
    20px;"><strong>Leave Report</strong></button>
    <br>
    <br>
    <button onclick="document.getElementById('id01').style.display='block'" class="button big-btn"  style="width:20%; font-size :
    20px;"><strong>Salary Report</strong></button>
    <br>
    <br>
    <button onclick="document.getElementById('id01').style.display='block'" class="button big-btn"  style="width:20%; font-size :
    20px;"><strong>Print Salary Slip</strong></button>
    <br>
    <br>
    <button onclick="document.getElementById('id01').style.display='block'" class="button big-btn" routerLink="/employeepwd" style="width:20%; font-size :
    20px;"><strong>Change Password</strong></button>
    <br>
    <br>
    <div class="form-group">
        <input type="button" routerLink="/Home" name="Logout" class="btn btn-info btn-md" value="Logout">
    </div>
</div>
</body>
</html>