<html>
    <body>
<h1>PAYROLL MANAGEMENT SYSTEM</h1>
<br>
<br>
<h2>WELCOME!!!</h2>
<br>
<br>
<h3>ADMIN LOGIN</h3>
<div class="container">
    <button id ="btn"><a class="button" routerLinkActive="activebutton" routerLink="/adminlogin">Login here </a></button>
</div>
<br>
<h3>EMPLOYEE LOGIN</h3>
<div class="container">
    <button id ="btn"> Login here </button>
</div>
<div class="container">
    <p>New User? Then signup below...</p>
    <button id="btn"> Signup Here</button>
</div>
<br><br>
</body>
</html>